@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  background: rgba(0, 0, 0, 0.3);
  width: 32px !important;
  height: 32px !important;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 14px !important;
}

.group:hover .swiper-button-next,
.group:hover .swiper-button-prev {
  opacity: 1;
}

.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.8 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1 !important;
}